/*!
Theme Name: Spicmicky's Gloriafood Restaurant Child
Theme URI: http://spicmickys.com/
Author: Matthew Linton
Author URI: https://gitlab.com/mlinton/
Description: Spicmicky's is a child theme for Gloriafood Restaurant created for Spicmicky's Bar & Restaurant
Template: gloriafood-restaurant
Version: 0.0.1
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v3 or later
License URI: https://www.gnu.org/licenses/old-licenses/gpl-3.0.en.html
Text Domain: spicmickys
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned. 
*/

/* Spicmicky's ################ */

/* Gloriafood Restaurant ###### */
h1.lead {
    font-family: 'CelticaBoldOblique';
    font-weight: bold;
    font-style: italic;
    color: #f90;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.jumbotron span.jumbotron-description.lead {
    font-weight: bold;
    font-style: italic;
    color: #f90;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;

}
.custom-logo {
    height: 5rem;
    width: auto;
    margin-top: 0.8em;
}
.navbar {
    background-color: #020;
}
.navbar-collapse {
    text-align: right;
}
.navbar-light .navbar-nav .nav-link {
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.navbar-light .navbar-nav .nav-link.active {
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #f90;
}
.navbar-light .navbar-brand {
    font-family: 'CelticaBoldOblique';
    font-weight: bold;
    font-style: italic;
    color: #fff;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.glf-card {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}
.glf-card h2 {
    margin-bottom: 1rem
}
span.glf-card-subbtitle-container {
    margin-bottom: 1.3rem;
}
.glf-promo-card {
    padding: 0.8rem;
}
.glf-promo-card h3 {
    margin-bottom: 0.2rem;
}
.glf-promo-card span.glf-card-subbtitle-container {
    margin-bottom: 0.8rem;
}
.glf-promo-card-price {
    padding: 0.3rem 0.8rem 0.3rem 0.8rem;
    width: 100%;
}
.glf-promo-card-price-value {
    display: block;
    float: right;
    font-size: 1rem;
}
.glf-button.reservation.custom-reservation-button {
    display: none;
}
p.jumbotron-cta-buttons {
    grid-template-columns: 1fr;
}

footer h4 {
    margin-bottom: 0.3rem;
}
footer.site-footer {
    background-color: #010;
    padding: 1.6rem 0;
}

.widget.widget_text p {
    color: #f90;
}

div.glf-background-card:nth-child(2n+2) div.widget {
    padding: 2em 2em 0em 2em;
}
.text-center {
    display: none;
}